.favoritar{
    font-size: 39px;
    color: rgb(79, 130, 175);
    cursor: pointer;
}
.estaFavoritado{
    color: rgb(255, 1, 200);
}
.x-circle{
    font-size: 16px;
    color: gray;
    position: absolute;
    top: -1px;
    left: 32.2px;
    z-index: 1 ;
}
.x-circle:hover{
    color: tomato;
    cursor: pointer;
}