.barra{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: tomato;
}
.menu{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.menu li {
    width: 50%;
}

.menu a {
    display: block;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100% ;
    padding: 8px;
    
    
}
.menu a:hover {
    background-color: rgb(238, 157, 142);
}