<section class="main">
    <div class="formulario">
        <input type="text" [(ngModel)]="nome" placeholder="Insira o nome do produto">
        <input type="text" [(ngModel)]="descricao" placeholder="Insira a descrição do produto">
        <input type="text" [(ngModel)]="img" placeholder="Insira a imagem do produto">
        <input type="number" [(ngModel)]="valor" placeholder="Insira o valor do produto">
        <input type="text" [(ngModel)]="categoria" placeholder="Insira a categoria do produto">

        <input type="button" value="Cadastrar" (click)="addProduto()">
    </div>
</section>